.ticketDetails {
  border: 2px solid #61b3de;
  border-radius: 25px;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: #ffffff;
}

.ticketDetails>img {
  max-width: 25%;
}
.comments {
  border: 2px solid #ee6123;
  border-radius: 25px;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: #ffffff;
}

button {
  margin-bottom: 10px;
}

.commentList {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: auto;
  text-align: center;
}
